:root {
  --primary-color: #5b4432;
  --secondary-color: #a88a72;
  --tertiary-color: #d4ac2b;
}

.App {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.app-header .logo {
  max-width: 85px;
}

.heading {
  font-size: 45px;
  font-weight: 800;
  color: var(--tertiary-color);
}
.sub-heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--tertiary-color);
  line-height: 20px;
}
